div{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.donebtn{
    background-color: #92b3e9; 
    padding: 15px ;
    margin-left: 3rem;
    text-align: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
}
.delbtn{
    background-color: #f1a1a1; 
    padding: 15px ;
    margin-left: 3rem;
    text-align: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
}
.Text{
    margin: 1rem;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.nText{
    background-color: #d9aff1;
    margin-left: 24rem;
    margin-right: 24rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}